ENV_DB_URL=jdbc:mariadb://db:3306/notifier
ENV_DB_USERNAME=TODO
ENV_DB_PASSWORD=TODO

JWT_SECRET=TODO

ENV_SMS_SENDER_BASE_URL=http://api-service-sms-sender:8080
# TODO - Sätt Telias uppgifter
ENV_SMS_SENDER_TOKEN_URL=https://TODO
ENV_SMS_SENDER_CLIENT_ID=TODO
ENV_SMS_SENDER_CLIENT_SECRET=TODO

ENV_TEAMS_SENDER_BASE_URL=http://api-service-teams-sender:8080
# TODO - Sätt Teams uppgifter
ENV_TEAMS_SENDER_TOKEN_URL=https://TODO
ENV_TEAMS_SENDER_CLIENT_ID=TODO
ENV_TEAMS_SENDER_CLIENT_SECRET=TODO