ENV_DB_URL=jdbc:mariadb://db:3306/notifier
ENV_DB_USERNAME=TODO
ENV_DB_PASSWORD=TODO

# Auth (users module): JWT signing + bootstrap admin (issued and validated in-process)
JWT_SECRET=TODO
JWT_EXPIRATION=86400000
USER_CREDENTIALS_EMAIL=TODO
USER_CREDENTIALS_PASSWORD=TODO
USER_CREDENTIALS_PHONENUMBER=TODO
USER_CREDENTIALS_MUNICIPALITYID=2281

ENV_SMS_SENDER_BASE_URL=http://api-service-sms-sender:8080
# TODO - Sätt Telias uppgifter
ENV_SMS_SENDER_TOKEN_URL=https://TODO
ENV_SMS_SENDER_CLIENT_ID=TODO
ENV_SMS_SENDER_CLIENT_SECRET=TODO

ENV_TEAMS_SENDER_BASE_URL=http://api-service-teams-sender:8080
# TODO - Sätt Teams uppgifter
ENV_TEAMS_SENDER_TOKEN_URL=https://TODO
ENV_TEAMS_SENDER_CLIENT_ID=TODO
ENV_TEAMS_SENDER_CLIENT_SECRET=TODO

# CSV import (csvimport module): SFTP source + file names + batch sizes
SFTP_USERNAME=TODO
SFTP_PASSWORD=TODO
SFTP_URL=TODO
ORGANIZATION_FILE_NAME=Organization.csv
EMPLOYEE_FILE_NAME=Employee.csv
ORGANIZATION_BATCH_SIZE=200
EMPLOYEE_BATCH_SIZE=200
