ENV_DB_URL=jdbc:mariadb://db:3306/notifier
ENV_DB_USERNAME=TODO
ENV_DB_PASSWORD=TODO

AZURE_USER=TODO
AZURE_CLIENT_ID=TODO
AZURE_TENANT_ID=TODO
AZURE_REDIRECT_URI=TODO
AZURE_SCOPES=TODO
AZURE_AUTHORITY_URL=TODO
AZURE_CLIENT_SECRET=TODO
AZURE_LOGIN_URL=TODO
GRAPH_URL=TODO


